.modal__container {
  width: 430px;
  height: 182px;
  padding: 43px 79px 51px 36px;
}

.modal__title {
  margin: 0 0 14px 0;
}

.modal__switch-row_success {
  justify-content: left;
}

.modal__switch-button_success {
  font-family: var(--font-family-tertiary);
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

/* ===== Responsive: 480px ===== */
@media screen and (max-width: 480px) {
  .modal_success {
    top: -56px;
    position: fixed;
    display: flex;
  }

  .modal__container {
    width: 288px;
    height: auto;
    padding: 32px 24px;
    border-radius: 16px;
  }

  .modal_success .modal__close-button {
    position: absolute;
    right: 16px;
    z-index: 100;
  }
}

/* ===== Responsive: 320px ===== */
@media screen and (max-width: 320px) {
  .modal__container {
    width: 280px;
    padding: 24px 16px;
    text-align: center;
  }

  .modal__switch-row_success {
    justify-content: left;
  }
}
