.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../../vendor/page__image-cell-phone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -59%;

  position: relative;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.page > * {
  position: relative;
  z-index: 2;
}

.page__main {
  flex: 1;
  width: 100%;
}

.page__content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

/* app components helper */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
