.about {
  max-width: 1440px;
  width: 100%;
  min-height: 624px;
  margin: 48px auto 0 auto;
  /* padding: 32px 24px; */
  background: #ffffff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.about__author {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.about__author-avatar {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 104px;
  margin-right: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 10%;
  border-radius: 50%;
  display: block;
}

.about__author-title {
  font-family: var(--font-family-secondary);
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: #1a1b22;
  margin: 0 0 24px 0;
}

.about__author-text {
  max-width: 600px;
  width: 100%;

  margin-right: 216px;
}

.about__author-text p {
  font-family: var(--font-family-primary);
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 0 24px 0;
  width: 100%;
  height: auto;
}

.about__author-text p:last-child {
  margin-bottom: 0;
}

/* Responsiveness */

@media screen and (max-width: 1024px) {
  .about {
    height: auto;
    margin: 32px auto 0 auto;
  }

  .about__author {
    align-items: center;
    padding: 80px 216px 80px 104px;
  }

  .about__author-text p {
    max-width: 100%;
  }

  .about__author-avatar {
    width: 232px;
    height: 232px;
    margin: 0 56px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .about {
    /* padding: 56px 0; */
  }

  .about__author {
    padding: 40px;
  }

  .about__author-avatar {
    margin: 0 32px 0 0;
  }

  .about__author-title {
    font-size: 30px;
    line-height: 40px;
  }

  .about__author-text {
    margin: 0 auto;
  }

  .about__author-text p {
    font-size: 18px;
    line-height: 24px;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .about {
    padding: 32px 0;
    margin: 0;
    height: auto;
  }

  .about__author {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .about__author-avatar {
    width: 272px;
    height: 272px;
    margin: 0 0 24px 0;
  }

  .about__author-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__author-title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 16px 0;
  }

  .about__author-text {
    max-width: none;
    width: auto;
    margin: 0 16px 128px 16px;
  }

  .about__author-text p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .about {
    padding: 32px 0 0 0;
  }

  .about__author-avatar {
    margin: 0 24px 24px 24px;
  }
}
