/* Overlay */
.register-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.5); /* Optional: darken background */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-top: 167px;
}

.register-modal_hidden {
  opacity: 0;
  visibility: hidden;
}

/* Modal box */
.register-modal__container {
  width: 430px;
  height: 458px;
  min-width: 430px;
  min-height: 458px;
  max-width: 430px;
  max-height: 458px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 36px 28px 36px;
  margin: 0;
}

.register-modal_hidden .register-modal__container {
  transform: scale(0.9);
}

.modal__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.modal__label {
  display: block;
  font-family: var(--font-family-tertiary, "Roboto", Arial, sans-serif);
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: var(--color-text-secondary, #2f71e5);
}

input#register-email.modal__input,
input#register-password.modal__input,
input#register-username.modal__input {
  width: 100%;
  height: 20px;
  font-family: var(--font-family-tertiary, "Roboto", Arial, sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.modal__input::placeholder {
  font-family: var(--font-family-tertiary, "Roboto", Arial, sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #b6bcbf;
}

.modal__input-error {
  color: #ff0000;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 5px;
  min-height: 15px;
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .register-modal__container {
    width: 320px;
    height: 100%;
    min-width: 320px;
    min-height: 420px;
    max-width: 320px;
    max-height: 420px;
    padding: 16px 17px;
  }

  .register-modal__close-button {
    width: 24px;
    height: 24px;
    top: -40px;
    right: 10px;
  }

  .register-modal__close-button::before,
  .register-modal__close-button::after {
    width: 16px;
  }

  .register-modal__title {
    margin-bottom: 18px;
  }

  .modal__input {
    padding: 0px;
    margin-bottom: 40px;
  }

  input#register-email.modal__input,
  input#register-password.modal__input {
    margin-bottom: 30px;
  }

  input#register-username.modal__input {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 320px) {
  .register-modal {
    align-items: flex-start;
    padding-top: 56px;
  }

  .register-modal__container {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 56px);
    border-radius: 15px;
    box-shadow: none;
    margin: 0;
  }
}
