.register-modal_hidden {
  opacity: 0;
  visibility: hidden;
}

/* Modal box */
.register-modal__container {
  width: 430px;
  height: 458px;
  min-width: 430px;
  min-height: 458px;
  max-width: 430px;
  max-height: 458px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 34px 36px 28px 36px;
  margin: 0;
}

.register-modal_hidden .register-modal__container {
  transform: scale(0.9);
}

.modal__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.modal__input-group_last {
  margin-bottom: 0;
}

.modal__label {
  display: block;
  font-family: var(--font-family-tertiary, "Roboto", Arial, sans-serif);
  font-size: var(--font-size-12)
  font-weight: 400;
  line-height: 100%;
  color: var(--color-text-secondary, var(--color-accent));
}

input#register-email.modal__input,
input#register-password.modal__input,
input#register-username.modal__input {
  width: 100%;
  height: 20px;
  font-family: var(--font-family-tertiary, "Roboto", Arial, sans-serif);
  font-size: var(--font-size-14)
  font-weight: 400;
  line-height: 100%;
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
}

input#register-email.modal__input::placeholder,
input#register-password.modal__input::placeholder,
input#register-username.modal__input::placeholder {
  font-family: var(--font-family-tertiary, "Roboto", Arial, sans-serif);
  font-size: var(--font-size-14)
  font-weight: 400;
  line-height: 100%;
  color: #000;
  opacity: 20%;
}

span.modal__input-error {
  font-family: var(font-family-primary);
  color: #ff0000;
  font-size: var(--font-size-12)
  line-height: 1.2;
  min-height: 18px; /* Reserve space for error */
  display: block;
  margin: 3px 0 0 0;
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .register-modal__container {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 56px);
    border-radius: 15px;
    box-shadow: none;
    margin: 0;
    padding: 16px 17px;
  }

  .register-modal__title {
    margin-bottom: 18px;
  }

  .modal__input-group {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .register-modal {
    align-items: flex-start;
    padding-top: 56px;
  }

  .register-modal__container {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 56px);
    border-radius: 15px;
    box-shadow: none;
    margin: 0;
  }
}
