.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 145px;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  width: 100%;
  max-width: 430px;
  height: 100%;
  max-height: 380px;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 34px 36px 28px 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal_opened .modal__container {
  transform: scale(1);
}

/* Close button styles */
.modal__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../../vendor/close-icon.svg);
  background-color: transparent;
  color: transparent;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  padding: 0;
}

.modal__close-button:hover {
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 28px;
  font-family: var(--font-family-primary);
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-text-primary);
  margin: 0 0 22px 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input-container {
  position: relative;
}
.modal__label {
  display: block;
  font-family: var(--font-family-tertiary);
  font-size: 12px;
  line-height: 100%;

  color: #2f71e5;
}

.modal__input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #d1d2d6;
  font-family: var(--font-family-tertiary);
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#login-email.modal__input,
#login-password.modal__input {
  font-family: var(--font-family-tertiary);
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  padding: 0px;
  margin: 0;
}

.modal__submit-button {
  width: 100%;
  height: 64px;
  background-color: #2f71e5;
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  margin: 0 auto 16px auto;
  padding: 0;
}

.modal__submit-button:hover {
  background-color: #347eff;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__submit-button:disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
  opacity: 0.5;
}

.modal__switch-row {
  font-family: var(--font-family-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.modal__switch-text {
  color: #000000;
  font-size: 14px;
}

.modal__switch-button {
  background: none;
  border: none;
  color: #2f71e5;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.modal__switch-button:hover {
  color: #347eff;
}

.modal__input:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .modal.modal_opened {
    align-items: flex-start;
    padding-top: 56px;
    background-color: transparent !important;
  }

  .modal__container {
    width: 100vw;
    height: calc(100vh - 56px);
    min-width: 100vw;
    min-height: calc(100vh - 56px);
    max-width: 100vw;
    max-height: calc(100vh - 56px);
    border-radius: 0;
    box-shadow: none;
    padding: 25px 8px;
    top: 56px;
  }

  .modal__close-button {
    width: 24px;
    height: 24px;
    top: -40px;
    right: 15px;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 320px) {
  div.modal__input-group-email {
    margin-bottom: 30px;
  }

  div.modal__input-group-password {
    margin-bottom: 2px;
  }
}
