.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  width: 100%;
  max-width: 430px;
  height: 100%;
  max-height: 380px;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 34px 36px 28px 36px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal_opened .modal__container {
  transform: scale(1);
}

.modal__close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../images/close-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__close-button:hover {
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 28px;
  font-family: var(--font-family-primary);
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-text-primary);
  margin: 0 0 22px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input-container {
  position: relative;
}

.modal__label {
  display: block;
  font-family: var(--font-family-tertiary);
  font-size: 12px;
  line-height: 100%;
  color: #2f71e5;
}

.modal__input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #d1d2d6;
  font-family: var(--font-family-tertiary);
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#login-email.modal__input,
#login-password.modal__input {
  font-family: var(--font-family-tertiary);
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  padding: 0px;
  margin: 0;
}

.modal__input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.modal__input::placeholder {
  color: #b6bcbf;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__input-error {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 8px;
}

/* Submit button styles */
.modal__submit-button {
  width: 100%;
  height: 64px;
  background-color: #2f71e5;
  color: var(--color-white);
  border: none;
  border-radius: 30px;
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  margin: 0 auto 16px auto;
  padding: 0;
}

.modal__submit-button:hover {
  background-color: #347eff;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__submit-button:disabled {
  background-color: #e6e8eb;
  cursor: not-allowed;
  opacity: 0.5;
}

.modal__switch-row {
  font-family: var(--font-family-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.modal__switch-text {
  color: #6c707a;
  font-size: 14px;
}

.modal__switch-button {
  background: none;
  border: none;
  color: #2f71e5;
  cursor: pointer;

  padding: 0;
  margin: 0;
}

.modal__switch-button:hover {
  color: #347eff;
}

/* Close button styles */
.modal__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

.modal__close-button:hover {
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Responsiveness */
@media screen and (max-width: 480px) {
  .modal__container {
    width: 320px;
    height: 560px;
    padding: 25px 22px;
  }
}
