/* ===== Base Saved News ===== */
.saved-news {
  flex: 1;
  background-color: var(--color-background);
  min-height: 100vh;
}

.saved-news__header {
  background-color: var(--color-white);
  padding: 40px 0 56px;
}

.saved-news__container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.saved-news__subtitle {
  margin: 0 0 32px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-primary);
  opacity: 0.5;
  margin: 0 0 28px 0;
}

.saved-news__title {
  width: 530px;
  height: 92px;
  margin: 0 0 30px;
  font-family: var(--font-family-secondary);
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: var(--color-text-primary);
}

.saved-news__keywords {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-primary);
}

.saved-news__keywords-list {
  font-weight: 600;
  color: var(--color-primary);
}

.saved-news__message {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  line-height: 24px;
  color: var(--color-text-secondary);
  text-align: center;
  padding: 40px 0;
}

.saved-news__content {
  padding-bottom: 62px;
  padding-top: 62px;
  min-height: 100%;
}

.saved-news__cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 0 auto;
}

.saved-news__cards-grid li {
  display: contents;
}

.news-cards__list,
.saved-news__cards-grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

.saved-news__empty-state {
  text-align: center;
  padding: 120px 0;
}

.saved-news__empty-title {
  margin: 0 0 24px;
  font-family: var(--font-family-primary);
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-text-primary);
}

.saved-news__empty-text {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-secondary);
}

/* ===== Responsive ===== */
@media screen and (max-width: 1240px) {
  .saved-news__header {
    padding: 24px 0 32px 40px;
  }

  .saved-news__container {
    margin: 0;
  }

  .saved-news__cards-grid {
    margin: 32px 40px;
  }
}

/* ===== Responsive 1040px && 768px =====*/
@media screen and (max-width: 1040px) {
  .saved-news__header {
    padding: 24px 16px 32px 40px;
  }

  .saved-news__container {
    padding: 0px;
  }

  .saved-news__subtitle {
    font-size: var(--font-size-14);
    line-height: 24px;
    margin: 0 0 16px 0;
  }

  .saved-news__title {
    width: 336px;
    height: 68px;
    font-size: var(--font-size-30);
    line-height: 34px;
    margin-bottom: 16px;
  }

  .saved-news__keywords {
    font-size: var(--font-size-18);
    line-height: 24px;
  }

  .saved-news__content {
    padding: 32px 0 32px 0;
  }

  .saved-news__cards-grid {
    gap: 8px;
    margin: 0px 40px;
  }

  .saved-news__empty-state {
    padding: 80px 0;
  }

  .saved-news__empty-title {
    font-size: var(--font-size-22);
    line-height: 26px;
  }

  .saved-news__empty-text {
    font-size: var(--font-size-16);
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .saved-news__cards-grid {
    grid-template-columns: repeat(2, 224px);
    justify-content: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .saved-news__header {
    padding: 16px 0 32px 16px;
  }

  .saved-news__container {
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
  }

  .saved-news__title {
    width: 288px;
    height: 68px;
    font-size: var(--font-size-24);
    line-height: 28px;
    margin-bottom: 24px;
  }

  .saved-news__cards-grid {
    grid-template-columns: repeat(1, 288px);
    justify-content: center;
    margin-top: 32px;
  }
}

@media screen and (max-width: 320px) {
  .saved-news__header {
    padding: 8px 0 32px 0;
  }

  .saved-news__container {
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
  }

  .saved-news__title {
    width: 288px;
    height: 68px;
    font-size: var(--font-size-24);
    line-height: 28px;
    margin-bottom: 50px;
  }

  .saved-news__subtitle {
    font-size: var(--font-size-12);
    line-height: 24px;
    margin-bottom: 16px;
  }

  .saved-news__keywords {
    font-size: var(--font-size-18);
    line-height: 24px;
    font-weight: 400;
  }

  .saved-news__content {
    padding: 24px 0 12px 0;
  }

  .saved-news__cards-grid {
    grid-template-columns: repeat(1, 288px);
    justify-content: center;
    margin-top: 0px;
  }

  .news-card {
    width: 100%;
    max-width: 288px;
    height: 440px;
    margin: 0 auto;
  }

  .news-card__image-container {
    width: 100%;
    height: 177px;
  }

  .news-card__image {
    width: 100%;
    height: 177px;
  }

  .news-card__content {
    width: 288px;
    height: 248px;
    padding: 16px;
  }
}
