.saved-news {
  min-height: 100vh;
  background-color: #f5f6f7;
}

.saved-news__header {
  background-color: #ffffff;
  padding: 40px 0 56px;
}

.saved-news__container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}

.saved-news__subtitle {
  margin: 0 0 32px;
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b2280;
  margin: 0 0 28px 0;
}

.saved-news__title {
  width: 530px;
  height: 92px;
  margin: 0 0 30px;
  font-family: var(--font-family-secondary);
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: var(--color-text-primary);
}

.saved-news__keywords {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-primary);
}

.saved-news__keywords-list {
  font-weight: 600;
  color: var(--color-accent);
}

.saved-news__message {
  font-family: var(--font-family-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text-secondary);
  text-align: center;
  padding: 40px 0;
}

.saved-news__content {
  padding: 0;
}

.saved-news__cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 62px 0;
}

.saved-news__empty-state {
  text-align: center;
  padding: 120px 0;
}

.saved-news__empty-title {
  margin: 0 0 24px;
  font-family: var(--font-family-primary);
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-text-primary);
}

.saved-news__empty-text {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-secondary);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .saved-news__header {
    padding: 24px 16px 32px 40px;
  }

  .saved-news__container {
    padding: 0px;
  }

  .saved-news__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 16px 0;
  }

  .saved-news__title {
    width: 336px;
    height: 68px;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
  }

  .saved-news__keywords {
    font-size: 18px;
    line-height: 24px;
  }

  .saved-news__content {
    padding: 0px;
  }

  .saved-news__cards-grid {
    gap: 8px;
    margin: 32px 40px;
  }

  .saved-news__empty-state {
    padding: 80px 0;
  }

  .saved-news__empty-title {
    font-size: 22px;
    line-height: 26px;
  }

  .saved-news__empty-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 730px) {
  .saved-news__cards-grid {
    grid-template-columns: repeat(2, 224px);
    justify-content: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .saved-news__header {
    padding: 8px 0 32px 0;
  }

  .saved-news__container {
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
  }

  .saved-news__title {
    width: 288px;
    height: 68px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .saved-news__subtitle {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .saved-news__keywords {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    /* margin-bottom: 32px; */
  }

  .saved-news__content {
    padding: 24px 0 12px 0;
  }

  .saved-news__cards-grid {
    grid-template-columns: repeat(1, 288px);
    justify-content: center;
    margin-top: 0px;
  }

  .news-card {
    width: 100%;
    max-width: 288px;
    height: 440px;
    margin: 0 auto;
  }

  .news-card__image-container {
    width: 100%;
    height: 177px;
  }

  .news-card__image {
    width: 100%;
    height: 177px;
  }

  .news-card__content {
    width: 288px;
    height: 248px;
    padding: 16px;
  }
}
