.modal.modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.login-modal__container {
  width: 100%;
  max-width: 430px;
  min-height: 380px;
  max-height: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 28px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.modal__title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 0 22px 0;
}

.modal__input-group-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.modal__input-group-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.modal__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #1a1b22;
  border: none;
  border-bottom: 1px solid #d1d2d6;
  padding: 16px 0 13px 0;
  margin-bottom: 8px;
  background: transparent;
}

input#login-email.modal__input,
input#login-password.modal__input {
  font-family: var(--font-family-tertiary);
  height: 28px;
}

input#login-email.modal__input::placeholder,
input#login-password.modal__input::placeholder {
  font-family: var(--font-family-tertiary);
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #b6bcbf;
}

span.modal__input-error {
  font-family: var(font-family-primary);
  color: #ff0000;
  font-size: 12px;
  line-height: 1.2;
  min-height: 18px; /* Reserve space for error */
  display: block;
  margin: 3px 0 0 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .login-modal__container {
    max-width: 430px;
    min-height: 380px;
    max-height: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 480px) {
  .login-modal__container {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 56px);
    border-radius: 15px;
    box-shadow: none;
    margin: 0;
  }

  .modal__switch-row {
    margin: 0 0 28px 0;
  }
}

@media screen and (max-width: 320px) {
  .login-modal {
    align-items: flex-start;
    padding-top: 56px;
  }

  .login-modal__container {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    min-height: calc(100vh - 56px);
    border-radius: 15px;
    box-shadow: none;
    padding: 16px;
    margin: 0;
  }

  .modal__title {
    padding-left: 1px;
  }

  .modal__submit-button {
    margin: 0 0 16px 0;
  }
}
