.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-top: 207px;
}

.login-modal.login-modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.login-modal__container {
  background: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 430px;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 28px 36px;
}

.login-modal__title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
  margin: 0 0 28px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #1a1b22;
  border: none;
  border-bottom: 1px solid #d1d2d6;
  padding: 16px 0 13px 0;
  margin-bottom: 8px;
  background: transparent;
}

.modal__input:focus {
  outline: none;
  border-bottom-color: #2f71e5;
}

.modal__input::placeholder {
  color: #b6bcbf;
}

.modal__input-error {
  font-size: 12px;
  color: #ff0000;
  margin-bottom: 16px;
  min-height: 15px;
}

.modal__submit-button {
  font-size: 18px;
  color: #fff;
  background: #2f71e5;
  border: none;
  border-radius: 100px;
  padding: 18px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.modal__submit-button:hover {
  background-color: #347eff;
  box-shadow: 0px 5px 15px 0px #0e1a3933;
  cursor: pointer;
}

.modal__submit-button:disabled {
  background: #b6bcbf;
  cursor: not-allowed;
}

/* Responsive */

@media screen and (max-width: 320px) {
  .login-modal__container {
    height: 560px;
    max-height: 520px;
    min-height: 520px;
    padding: 16px;
  }

  .modal__title {
    padding-left: 1px;
  }

  input#login-email.modal__input {
    margin-bottom: 30px;
  }

  input#login-password.modal__input {
    margin-bottom: 23px;
  }
}
